#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
}
