#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
}

html body > div > div:nth-child(2) > div:nth-child(5) > div:nth-child(2) > div:nth-child(1) {
  display: none !important;
}

html body > div > div:nth-child(2) > div:nth-child(4) {
  display: none !important;
}
